*{
    margin: 0px;
    padding: 0px;
    position: relative;
}

html,
body {
    width: 100vw;
    height: 100vh;
    background-color: #0c0b0b96;
}
.header-container {
    display: block;
    height: 10vh;
}
.content-container {
    display: block;
    height: 80vh;
    
}
.footer-container{
    display: block;
    height: 10vh;
    
}

.row-one,
.row-two,
.row-three {
    
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    height: 100%;
    font-family: "Georgia", serif;
    color: rgb(67, 152, 231);
    font-size: 26px;
}

.row-two {
    background-color: rgb(78, 79, 80);
    
}
.container-padding {
    padding: 10px 0;
    margin: 5px;
    border-style: ridge;
    border-color: #79b1a0;
    border-width: 1px;
    border-radius: 10px;

}